.social-icon {
    display: inline-block;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #f472b6; /* Add hover effect */
  }
  /*hi*/

  @media (max-width: 768px) {
    #about img {
      transform: translateY(-55px); /* Moves the image up */
    }
  }
  